html, h1, h2, body, head, figure, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  background: transparent;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;

}

.title {
  text-align: center;
  font-size: 36px;
  padding: 20px;
}

.snake-grid {
  border: 1px solid black;
  width: 600px;
  margin: auto;
  list-style: none;
  background: black;
}


.snake-grid > li {
  height: 10px;
  width: 10px;
  display: block;
  float: left;
  border: 1px solid darkblue;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.has-snake {
  background: yellow;
}

.own-snake {
  background: lightgreen;
}

.own-snake-head {
  background: green;
}

.apple {
  background: red;
}

.instructions {
  background: green;
  width: 600px;
  height: 600px;
  margin: auto;
}

.instructions > ul {
  display: none;
}
