html, h1, h2, body, head, figure, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  background: transparent;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;

}

h1 {
  text-align: center;
  font-size: 36px;
  padding: 20px;
}

li {
  height: 10px;
  width: 10px;
  display: block;
  float: left;
}

ul {
  border: 1px solid black;
  width: 200px;
  margin: auto;
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.has-snake {
  background: black;
}

.apple {
  background: red;
}
