html, h1, h2, body, head, figure, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  background: transparent;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;

}

h1 {
  text-align: center;
  font-size: 36px;
  padding: 20px;
}

ul {
  border: 1px solid black;
  width: 600px;
  margin: auto;
  list-style: none;
  background: black;
  position: relative;
  border: 2px solid blue;
}

li {
  height: 10px;
  width: 10px;
  display: block;
  float: left;
  border: 1px solid darkblue;
}

.snake {
  padding-bottom: 10px;
}

.title {
  font-family: 'Rock Salt', cursive;
  font-size: 36px;
  padding: 0px;
  color: green;
  margin: auto;
}

.instructions{
  width: 300px;
  height: 300px;
  background: blue;
  z-index: 1;
  position: absolute;
  left: 150px;
  top: 150px;
  opacity: 0.6;
  color: white;
  text-align: center;
}

.gameover {
  width: 300px;
  height: 150px;
  background: blue;
  z-index: 1;
  position: absolute;
  left: 150px;
  top: 200px;
  opacity: 0.6;
  color: white;
  text-align: center;
}

.instructions > h2 {
  font-weight: 700;
  font-size: 20px;
}

.scoreboard {
  position: absolute;
  font-family: 'Rock Salt', cursive;
  top: -75px;
  width: 600px;
  height: 100px;
  background: transparent;
  color: black;
}

.current-score {
  font-size: 24px;
  float: left;
}

.best-score {
  float: right;
  font-size: 24px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.has-snake {
  background: yellow;
}

.own-snake {
  background: lightgreen;
}

.own-snake-head {
  background: green;
}

.apple {
  background: red;
}
